
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'inter';
  background-image: url('assets/images/bg.png'); /* ✅ Path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  overflow-x: hidden;
}

section{
  margin: 0;
  padding: 0;
  width: 100%;
  border: 6px solid #e0e0e0;
  padding: 40px 20px;
  border-radius: 20px;
}

h1, h2, h3, h4 { margin: 0; }
a { text-decoration: wavy; color: white; }
